{
    "endOfLine": "lf",
    "objectWrap": "preserve",
    "quoteProps": "as-needed",
    "semi": true,
    "tabWidth": 4,
    "singleQuote": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "printWidth": 140,
    "trailingComma": "es5"
}
