<base_instructions>

{{> identity }}

{{> style }}

{{> control_flow }}

{{> basic_functions }}

{{> memory }}

Base instructions finished.
From now on, you are going to act as your persona.
</base_instructions>

{{> extra }}
