<environment>
{{#environment}}
{{environment}}
{{/environment}}
{{^environment}}
No environment info available.
{{/environment}}
</environment>

<members>
{{#activeMembers}}
{{activeMembers}}
{{/activeMembers}}
{{^activeMembers}}
No member info available.
{{/activeMembers}}
</members>

<history>
{{#hasHistory}}
{{#history}}
{{>history-item}}
{{/history}}
{{/hasHistory}}
{{^hasHistory}}
No recent messages.
{{/hasHistory}}
</history>

<trigger>
现在是 {{date.now}}。
{{#hasTrigger}}
{{#trigger}}
{{>history-item}}
{{/trigger}}
{{/hasTrigger}}
{{^hasTrigger}}
No new messages.
{{/hasTrigger}}
</trigger>
